.container {
  border: 1px solid pink;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0px;
}
.container:hover {
  box-shadow: 1px 1px 15px 1px #ccc;
  border-width: 3px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  color: #f27071;
  text-transform: uppercase;
}
.author {
  color: #777;
  font-size: 15px;
  font-style: italic;
}
.description {
  margin: 15px 0px;
}
.form {
  margin-top: 30px;
}
.input {
  width: 80%;
  height: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.btn {
  height: 50px;
  padding: 0px 20px;
  background-color: #f27071;
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: 1px solid #f27071;
  margin-left: 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: #d86363;
  box-shadow: 1px 1px 5px #ccc;
}
.comment {
  width: 80%;
  margin: 10px 0px;
}
.comText {
  font-size: 16px;
  color: #777;
  border-bottom: 1px solid #f27071;
  padding: 10px 0px;
}
.imgContainer {
  flex: 1;
  margin: 10px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 550px;
}
